{% extends 'main/base.html' %}
{% load static %}
{% block title %} Wall Clocks {% endblock %}


{%block content%}

    <main>
        <section class="sec category_banner">
            <div class="position-relative overflow-hidden">
                <img src="{% static 'main/images/dolvano_banner_2.jpg' %}" alt="img" width="100%" height="50%">
                <div class="item_attributs">
                    <!-- <p>BP-007</p>
                <a href="#" class="btn btn-outline-primary banner-btn">Заказать</a> -->
                </div>
            </div>
        </section>

        <section class="sec py-5">
            <div class="container-sm">
                <div class="row sec_1_2 d-flex justify-content-center">

                    {% for wallclock in wallclocks%}
                    <div class="product__card__col col d-flex flex-column mb-3">
                        <div class="product__card position-relative z-0">
                            <a href="{% url 'main:product_page' product_pk=wallclock.pk %}" class="product_hide position-absolute w-100 h-100 z-3"></a>
                            <div class="product__card__image position-absolute start-50 top-50 translate-middle z-2">
                                <img src="{{wallclock.card_photo.url}}" alt="image" width="100%" class="z-2">
                            </div>
                            <div class="product__add__button position-absolute z-3 end-0 m-4">
                                <div  data-id="{{ wallclock.pk }}" data-action="add"  class="add-btn update-cart product__add__button__circle d-flex justify-content-center align-items-center">
                                <span ><i class="fa-solid fa-plus text-white"></i></span>
                            </div>
                            </div>
                        </div>
                        <footer class="mt-3">
                            <a href="{% url 'main:product_page' product_pk=wallclock.pk %}"><h1 class="text-white fs-5">{{wallclock.name}}</h1></a>
                            <p class="text-white fs-6">{{wallclock.price}}$</p>
                        </footer>
                    </div>
                    {% endfor %}
                    
                <div class="pagination d-flex justify-content-center">

  <span class="step-links ">
    {% if wallclocks.has_previous %}
      <a href="?page=1" class="text-white">&laquo; </a>
      <a href="?page={{ wallclocks.previous_page_number }}">previous</a>
    {% endif %}

    <span class="current-page text-white">
      {{ wallclocks.number }} of {{ wallclocks.paginator.num_pages }}
    </span>

    {% if wallclocks.has_next %}
      <a href="?page={{ wallclocks.next_page_number }}" class="text-white">next</a>
      <a href="?page={{ wallclocks.paginator.num_pages }}" class="text-white"> &raquo;</a>
    {% endif %}
  </span>
</div>

            </div>
        </section>
    </main>
{% endblock %}


