<!DOCTYPE html>

{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap5 link -->
    <link rel="shortcut icon" href="{% static 'main/images/favicon.ico' %}" type="image/x-icon">
        
    <link rel="stylesheet" href="{% static 'main/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/owl.theme.default.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/owl.theme.default.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">

    <!-- <link rel="stylesheet" href="{% static 'main/css/cart.css' %}"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
    <title>{% block title %}{% endblock %} - Dolvano</title>


</head>

{% block extra_css %} {%endblock%}

    {% block content %}

    {% endblock %}




    <!-- Bootstrap5 js -->
    <script src="{% static 'main/js/bootstrap.bundle.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="{% static 'main/js/jquery.min.js' %}"></script>
    <script src="{% static 'main/js/cart_functionality.js' %}"></script>
    <script src="{% static 'main/js/owlcarusel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'main/js/main.js' %}"></script>
</body>

</html>